.promo__img {
  width: 100%;
  border-radius: 10px;

  -webkit-box-shadow: -12px 10px 9px 0px rgb(237, 247, 250);
  -moz-box-shadow: -12px 10px 9px 0px rgb(237, 247, 250);
  box-shadow: -12px 10px 9px 0px rgb(237, 247, 250);

}


@media screen and (max-width: 600px) {
  .promo__img {
    width: 80%;
    border-radius: 50%;
    margin: 20px auto 0;
  }
}