.header__nav-link,
.header__nav-link:visited {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  text-decoration: none;
  transition: linear .5s;
  margin-left: 20px;
  padding: 5px;
}

.header__nav-link:first-child {
  margin-left: 0;
}

.header__nav-link:hover {
  background-color: #EDF7FA;
  color: #21243D;
}