.articles__head_link,
.articles__head_link:visited {
  color: #00A8CC;
  font-size: 16px;  
  text-decoration: none;
}


@media screen and (max-width: 600px) {
  .articles__head .articles__head_link {
    display: none;
  } 
}