.body {
  font-family: 'Heebo', Arial, sans-serif;
  color: #21243D;
  background-color: #fff;
  margin: 0;
  padding: 0;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}